{% extends 'admin_base.html.twig' %}

{% block content %}
    <div class="row">
    <div class="col-12 col-xl-6">
        <div class="card">
            <div class="card-header">

            </div>
            {{ form_start(form) }}
            <div class="card-body">
                
                <div class="form-group"> 
                    {{ form_label(form.name) }}
                    {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
                </div>
                {% for category in form.categoriesIds %}
                    <div class="form-check"> 
                    
                    {{ form_widget(category, {'attr': {'class': 'form-check-input'}}) }}
                    {{ form_label(category, null, {'label_attr': {'class': 'form-check-label'}}) }}
                </div>
                    
                {% endfor %}
                

                
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-primary">Zapisz</button>
            </div>
            {{ form_end(form) }}

        </div>
    </div>
</div>
    {{ form_start(form) }}
    {{ form_end(form) }}
{% endblock %}